.volume-model-modal {
    position: relative;
}

.volume-model-modal .volume-model-modal-shadow-buttons {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.volume-model-modal-shadow-buttons#volume-model-full-screen-mode-button {
    right: 10px;
}

.volume-model-modal-shadow-buttons#volume-model-restore-camera {
    right: 40px;
}

.volume-model-modal .volume-model-modal-shadow-buttons:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.volumetric-model-button-gallery{
    border: 0;
    background: none;
    padding: 0;
}

.volumetric-model-button-gallery-single{
    margin: 15px 0;
}

#volume-model-full-screen-mode-container .volume-model-modal-shadow-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

#volume-model-full-screen-mode-container #volume-model-full-screen-mode-disable {
    right: 20px;
}

#volume-model-full-screen-mode-container #volume-model-restore-camera {
    right: 60px;
}

#volume-model-full-screen-mode-container .volume-model-modal-shadow-buttons:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0.9);
}

.volume-model-modal-shadow-buttons img {
    filter: drop-shadow(0px 0px 2px #141414)
}

div#volume-model-full-screen-mode-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.volume-model-modal #volume-model-loader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6a6a6a;
    z-index: 2;
}

.volume-model-modal #volume-model-loader-loading-bar {
    width: 200px;
    height: 6px;
    background-color: #ababab;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.volume-model-modal #volume-model-loader-loading-progress {
    width: 0;
    background-color: #61aae5;
    height: 100%;
    transition: 0.8s;
}

.volume-model-modal #volume-model-loader-loading-spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.volume-model-modal #volume-model-loader-loading-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.volume-model-modal-container {
    position: relative;
    overflow: hidden;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}